.offer{
    background-color: #fc6b3f;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.offer > h1{
    color: white;
    margin-bottom: 20px;
}
.offer > p{
    color: white;
    margin-bottom: 20px;
}
.button{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 2px;
    border: none;
}